.dailyDiet {
}

.dailyDietListImg {
}

.dailyDietListImgPreview {
  border-radius: 10px;
  margin-bottom: 10px;

  @media (max-width: 769px) {
    width: 100%;
    height: 300px;
  }
}

.dailyDietList {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
}

.dailyDietListItem {
  border-radius: 10px;
  overflow: hidden;
}

.dailyDietListItem span {
  width: 100%;
  display: block;
}

.dailyDietListImgBtn {
  display: block;
  width: 100%;
}
