.dailyRoutine {
}

.dailyRow {
  display: flex;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 769px) {
    width: 720px;
    overflow-x: auto;
  }
}

.dailyRowBox {
  overflow-x: auto;
}

.dailyRow b {
  border-bottom: 3px solid #fddc4e;
  padding: 15px;
  text-align: center;
  writing-mode: tb;
}

.dailyRoutineTable {
  width: 100%;
  border-spacing: 8px 0;
}

.dailyRoutineTable th,
.dailyRoutineTable td {
  padding: 12px 15px;

  @media (max-width: 769px) {
    font-size: 15px;
  }
}

.dailyRoutineTable td {
  border-bottom: 3px solid #d9d9d9;
}

.dailyTimeCell {
  text-align: center;
}

.dailyType {
  width: 75%;
  background-color: #fddc4e;
  border-radius: 10px;
  font-weight: bold;
}

.dailyTime {
  width: 25%;
  background-color: #fddc4e;
  border-radius: 10px;
}
