.menuWrapper {
  @media (max-width: 923px) {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 9999;
    min-height: 100vh;
    overflow-y: auto;
  }

  &.menuWrapper--active {
    @media (max-width: 923px) {
      visibility: visible;
    }
  }
}

.nav {
  @media (max-width: 923px) {
    width: 100%;
    max-width: 280px;
    padding: 40px 40px;
    background-color: #8081bd;
    margin-left: auto;
    min-height: 100vh;
  }
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;

  @media (max-width: 923px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}

.listItem {
  color: #334155;
  transition: 0.3s color;

  &:hover {
    color: #ea5d4a;
  }
}

.listItemWrapper {
  position: relative;
}

.itemLink {
  font-weight: 600;
  font-size: 14px;
  color: currentColor;

  @media (max-width: 923px) {
    color: #ffffff;
  }
}

.navLinkBtn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  color: currentColor;
  transition: transform 0.3s;

  &.navLinkBtn--active {
    transform: translateX(-50%) rotate(180deg);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    background-color: currentColor;
    width: 10px;
    height: 2px;
    border-radius: 10px;
  }

  &::before {
    transform: rotate(-45deg);
    right: -2px;
  }

  &::after {
    transform: rotate(45deg);
    left: -2px;
  }

  @media (max-width: 923px) {
    bottom: 8px;
    left: -20px;
    transform: translateX(0);
  }
}

.navSubmenuList {
  max-width: 1420px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 10px;
  padding: 27px 15px;

  @media (max-width: 1200px) {
    padding: 15px;
    column-gap: 40px;
  }

  @media (max-width: 923px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-left: 10px;
    row-gap: 5px;
  }
}

.navSubmenuListItem {
}

.navSubmenuItemLink {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s color;

  &:hover {
    color: #f0f0f0;
  }

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 923px) {
    font-size: 13px;
    font-weight: 400;
    color: #f0f0f0;
  }
}

.navSubmenuWrapper {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: #8081bd;

  @media (max-width: 923px) {
    position: static;
    background-color: transparent;
  }
}
