.formFieldset {
  margin-bottom: 24px;
}

.formLabel {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.formInput {
  border-radius: 15px;
  width: 100%;
  padding: 14px 20px;
  background-color: #ffffff;
  border: none;

  &::placeholder {
    font-size: 10px;
    color: #8f8f8f;
  }

  @media (max-width: 426px) {
    padding: 11px 20px;
    font-size: 12px;
  }
}

.formError {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  color: inherit;
  font-size: 10px;
}

.formlabelTxt {
}

.formTextarea {
  border-radius: 15px;
  width: 100%;
  min-height: 120px;
  padding: 14px 20px;
  background-color: #ffffff;
  border: none;
  resize: vertical;

  &::placeholder {
    font-size: 10px;
    color: #8f8f8f;
  }
}

.formCheckbox {
}

.formButton {
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: grid;
  place-items: center center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  visibility: hidden;
}

.modalActive {
  visibility: visible;
}

.modalInner {
  position: relative;
  width: 100%;
  max-width: 640px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding: 50px;
  color: #595959;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease 0.5s;
}

.modalActive .modalInner {
  opacity: 1;
}

.modalBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(41, 117, 206, .5);
  animation: pulse 1.5s infinite;

  &:focus {
    outline: 2px solid black;
  }
}

@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 20px rgba(41, 117, 206, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(41, 117, 206, 0);
  }
}

.modalIconClose {
  display: block;
  width: 25px;
  height: 25px;
}

.modalIconChecked {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  color: #2975ce;
}

.modalHead {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.modalText {
  font-size: 18px;
  min-height: 25.5px;

  &::after {
    content: '|';
    color: #ffffff;
    padding: 0 1px;
    animation-name: cursor1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

}
@keyframes cursor1 {
  50% {color: #595959}
}
