.form {
}

.formFieldset {
    margin-bottom: 24px;
}

.formLabel {
    display: block;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.formInput {
    border-radius: 50px;
    width: 308px;
    height: 40px;
    padding: 14px 20px;
    background-color: #ffffff;
    border: none;

    &::placeholder {
        font-weight: 600;
        font-size: 10px;
        color: #334155;
    }
}

.formError {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    color: #ffffff;
    font-size: 10px;
}

.formlabelTxt {}

.formTextarea {}

.formCheckbox {}

.formButton {}