.teamSlider {
  flex-wrap: nowrap;

  /* & svg {
    display: 'inline-block';
    width: 24%;
  }

  & svg:not(:last-child) {
    margin-right: 15px;
  } */
}

.teamSliderItem {
}

.teamSliderLink {
  color: #000000;
}

.teamSliderImg {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.teamSliderInfo {
  display: block;
  padding-top: 20px;
}

.teamSliderTeacherFamilyName {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #8081bd;
}

.teamSliderTeacherSpeciality {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #595959;
}
