.teamSlider {
}

.slider {
    padding: 0 80px;
}

.teamSliderItem {}

.teamSliderLink {
    color: #000000;
}

.teamSliderImg {
    width: 100%;
    height: 278px;
    border-radius: 10px;
    overflow: hidden;
}

.teamSliderInfo {
    padding-top: 20px;
}

.teamSliderTeacherFamilyName {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #8081BD;
}

.teamSliderTeacherSpeciality {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #595959;
}