.contactsPageSection {
  padding: 40px 0 100px;
}

.contactsPageSectionInner {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  @media (max-width: 1025px) {
    flex-direction: column-reverse;
  }
}

.contactUsList {
  margin-bottom: 20px;
}

.contactsPageSectionItem {
  @media (max-width: 1025px) {
    visibility: hidden;
  }
}

.contactUsList--mod {
  margin-bottom: 30px;

  & a {
    font-size: 35px;

    &:after {
      content: none;
    }
  }

  @media (max-width: 1025px) {
    height: 0;
    margin-bottom: 0;
  }
}

.socialNetworksList--mod {
  margin-bottom: 35px;

  @media (max-width: 1025px) {
    height: 0;
    margin-bottom: 0;
  }
}

.contactsPageSectionTitle {
  font-weight: 700;
  font-size: 40px;
  color: #8081bd;
  margin-bottom: 100px;

  @media (max-width: 1025px) {
    margin-bottom: 30px;
  }

  @media (max-width: 450px) {
    font-size: 31px;
  }
}

.contactsPageSectionAddress {
  font-size: 22px;

  @media (max-width: 1025px) {
    visibility: visible;
  }

  @media (max-width: 769px) {
    font-size: 18px;
  }

  @media (max-width: 376px) {
    font-size: 14px;
  }
}

.contactsPageSectionForm {
  padding: 40px;
  background-color: #fff6d1;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 1025px) {
    margin-bottom: 30px;
  }

  @media (max-width: 769px) {
    padding: 40px 30px;
  }

  @media (max-width: 576px) {
    padding: 30px 20px;
  }

  @media (max-width: 376px) {
    margin-bottom: 20px;
  }
}

.contactsPageSectionHead {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  color: #334155;
  margin-bottom: 20px;

  @media (max-width: 769px) {
    font-size: 27px;
  }

  @media (max-width: 576px) {
    font-size: 22px;
  }

  @media (max-width: 376px) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.contactsPageSectionText {
  font-weight: 600;
  font-size: 14px;
  color: #334155;
  margin-bottom: 20px;

  @media (max-width: 376px) {
    font-size: 13px;
  }
}
