.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: auto;
  padding: 85px 50px;
  background: linear-gradient(
    130.83deg,
    rgba(128, 129, 189, 0.8) 14.95%,
    rgba(128, 129, 189, 0.8) 79.77%
  );
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  
  @media (max-width: 769px) {
    padding: 65px 30px;
  }

  @media (max-width: 450px) {
    padding: 55px 10px;
  }
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(41, 117, 206, .5);
  animation: pulse 1.5s infinite;

  &:focus {
    outline: 2px solid black;
  }

  @media (max-width: 426px) {
    top: 15px;
    right: 15px;
  }
}

@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 20px rgba(41, 117, 206, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(41, 117, 206, 0);
  }
}

.modalCloseIcon {
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
}

.modalReviewContent {
  position: relative;
  width: 100%;
  max-width: 844px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  margin: auto;

  @media (max-width: 576px) {
    padding: 25px;
  }

  @media (max-width: 450px) {
    padding: 25px 15px;
  }
}

.modalPerson {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
}

.modalPersonImg {
  border-radius: 50%;

  @media (max-width: 450px) {
    width: 50px;
    height: 50px;
  }
}

.person {
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.modalName {
  display: block;

}

.modalSity {
}

.modalDescription {
  font-size: 18px;
  line-height: 1.4;
  min-height: 25.5px;
  margin-bottom: 30px;

  &::after {
    content: '|';
    color: #ffffff;
    padding: 0 1px;
    animation-name: cursor1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @media (max-width: 576px) {
    font-size: 16px;
    margin-bottom: 25px;
  }

  @media (max-width: 450px) {
    font-size: 14px;
  }
}

@keyframes cursor1 {
  50% {color: #595959}
}

.modalLink {
  padding: 15px 30px;
  background-color: #fddc4e;
  border: 1px solid #d6b72d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;

  @media (max-width: 576px) {
    padding: 10px 25px;
    font-size: 14px;
  }

  @media (max-width: 450px) {
    padding: 8px 20px;
    font-size: 13px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f5d029;
    }
  }
}
