.header {
    position: relative;
}

.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 20px;
    padding: 35px 0;

    @media (max-width: 1200px) {
    padding: 20px 0;
    }
}

.headerMenuWrapper {
    @media (max-width: 923px) {
        visibility: hidden;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        z-index: 9999;
        min-height: 100vh;
        overflow-y: auto;
    }
}