.header {
  position: relative;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 20px;
  padding: 35px 0;

  @media (max-width: 1200px) {
    padding: 20px 0;
  }

  @media (max-width: 376px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0;
    padding-top: 5px;
  }
}

.burgerBtn {
  position: fixed;
  top: auto;
  right: 15px;
  display: none;

  @media (max-width: 1024px) {
    display: block;
    z-index: 9999;
  }

  @media (max-width: 426px) {
    right: 10px;
  }

  @media (max-width: 376px) {
    top: 20px;
  }
}

.logo {
  @media (max-width: 1300px) {
    width: 140px;
  }

  @media (max-width: 376px) {
    width: 115px;
  }
}
