.header {
  position: relative;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 20px;
  padding: 35px 0;

  @media (max-width: 1200px) {
    padding: 20px 0;
  }
}
