.requestConsultation {
  width: 100%;
  border-radius: 20px;
  margin: 50px 0;

  @media (max-width: 450px) {
    margin: 10px 0;
  }

  @media (max-width: 768px) {
    /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7); */
    background-image: url('../../components/RequestConsultationSection/img/RequestConsultation/ReqConsSectBg1.webp');
    background-position: 100% 100%;
  }
}

.requestConsultationInner {
  position: relative;
  padding: 50px 0;

  @media (max-width: 1025px) {
    padding: 35px 0;
    padding-left: 325px;
  }

  @media (max-width: 768px) {
    padding-left: 0;
  }

  @media (max-width: 426px) {
    padding: 20px 10px;
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;

  @media (max-width: 1025px) {
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 10px;
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
    row-gap: 20px;
  }

  @media (max-width: 426px) {
    row-gap: 10px;
  }

  & fieldset {
    margin-bottom: 0;

    @media (max-width: 426px) {
      width: 100%;
    }

    & label {
      width: 100%;
      max-width: 221px;

      @media (max-width: 496px) {
        max-width: 170px;
      }

      @media (max-width: 426px) {
        max-width: none;
      }
    }

    & span {
      display: block;
      text-align: left;
      font-size: 9px;
    }
  }

  & label {
    order: 1;
    margin-bottom: 0;
  }

  & label span {
    @media (max-width: 376px) {
      font-size: 8px;
    }
  }

  & button {
    width: auto;

    @media (max-width: 426px) {
      width: 100%;
    }
  }

  & button span {
    @media (max-width: 1025px) {
      padding: 8px 22px;
    }

    @media (max-width: 426px) {
      padding: 4.7px 22px;
    }
  }

  & input {
    @media (max-width: 1025px) {
      padding: 11px 10px;
    }
  }
}

.requestConsultationInfo {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 567px;

  @media (max-width: 1025px) {
    margin-left: auto;
    text-align: right;
  }

  @media (max-width: 768px) {
    margin: 0;
    text-align: left;
  }
}

.requestConsultationTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: inherit;

  @media (max-width: 1132px) {
    font-size: 35px;
    margin-bottom: 15px;
  }

  @media (max-width: 1025px) {
    font-size: 26px;
  }

  @media (max-width: 496px) {
    font-size: 20px;
  }

  @media (max-width: 376px) {
    font-size: 19px;
  }
}

.requestConsultationDescription {
  font-size: 20px;
  margin-bottom: 20px;
  color: inherit;

  @media (max-width: 1132px) {
    font-size: 18px;
  }

  @media (max-width: 496px) {
    font-size: 16px;
  }

  @media (max-width: 376px) {
    font-size: 13px;
  }
}

.currentImg {
  position: absolute;
  right: 0;
  z-index: 1;
}
