.scheduleGroupSection {
  padding: 20px 0px;
  
}

.scheduleGroupSectionTitle {
  margin-bottom: 66px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #8081bd;

  @media (max-width: 450px) {
    font-size: 33px;
    margin-bottom: 30px;
    line-height: 1.2;
  }
}

.scheduleHead {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.scheduleTable {
  width: 100%;
  border-spacing: 10px 0px;

  @media (max-width: 768px) {
    width: 720px;
  }
}

.scheduleBox {
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.scheduleGroupBox {
  overflow-x: auto;
}

.dailyDay {
  width: 150px;
}

.dailyTime {
  width: 170px;
}

.scheduleTable th {
  padding: 12px 15px;

  @media (max-width: 769px) {
    font-size: 15px;
    padding: 10px 12px;
  }
}

.subject {
  text-align: left !important;
}

.dailyLesson {
  text-align: left;
}

.scheduleTable th {
  background-color: #fddc4e;
  border-radius: 10px;
  white-space: nowrap;
  color: #333;
  font-weight: bold;
}

.scheduleTable tbody tr td {
  padding: 8px 12px;
  text-align: center;
  border-bottom: 3px solid #d9d9d9;

  @media (max-width: 769px) {
    font-size: 15px;
  }
}

.dailyDayCell {
  border-bottom: 3px solid #fddc4e !important;
}

h2 {
  font-size: 20px;
  margin: 15px 0;
  color: #333;
}
